<br>
<br>

<!-- banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 50%), url('https://wallpaperaccess.com/full/95254.jpg');   background-position: center; "  >

  <div class="container">
    <div style="">
     <h1>Coming soon</h1>
     <h3 id="demo"></h3>
     <h1><i class="fas fa-chevron-down"></i></h1>
   </div>
 </div>
</div>
<!-- about us -->
<div class="" style="padding-top: 150px; background-color: white; padding-bottom: 50px" id="about">
  <div class="container">
    <div class="text-center">
      <div>
        <img src="https://i.ibb.co/vst1GvB/Logo-con-fondo-blanco.jpg" alt="" height="200" width="auto">
        <br>
        <br>
        <hr style="background-color: black;">
        <br>
        <p style="color: black;">PLATINO SOCIAL CLUB tendrá la misión de crear una plataforma exclusiva para nuestros socios, quienes se distinguen por experimentar situaciones únicas, estilos de vida soñados e historias increíbles. El constantemente aportará actividades y beneficios para nuestros miebros. El club se dedicara a producir eventos culturales, gastronomicos, musicales y deportivos.  </p>
        <br>
        <hr style="background-color: black;">
        <br>
        <div class="text-center"><a href="https://t.me/+9yiFcK1sE-llODlh" target="_blank"><p class="btn btn-dark"><i class="fab fa-telegram"></i> Join Now!</p> </a></div>
      </div>
    </div>
  </div>
</div>
<!-- buy  -->
<div style="padding-top: 100px; padding-bottom: 10px; background-color: white;;">
  <div class="container">
    <div class="jumbotron" style="background-color: black;">
      <div class="row">
        <div class="col-md-4 text-center">
          <br>
          <h2 style="color: white;">COMPRA UN NFT</h2>
        </div>
        <div class="col-md-4 text-center " style="color: white;">
          <br>
          <p>Unete comprando un rey muerto y recibe accesso a exclusivo a los beneficios del club.</p>
        </div>
        <div class="col-md-4 text-center">
         <a href="https://opensea.io/collection/boredapeyachtclub"> <button class="btn btn-outline-white my-2 my-sm-0" type="submit"><h4 style="padding-top: 9px;">Buy now at <br> opensea.com</h4></button></a>

       </div>
     </div>
   </div>
 </div>
</div>
<!-- dead kings -->
<div style="padding-top: 150px; padding-bottom: 50px; background-color: white;;">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-6">
        <h2 style="">PSC Collection</h2>
        <br>
        <P>Platino social club creo una coleccion de arte digital almacenado como token ERC-721 en la cadena de bloques Ethereum y alojados en IPFS.  </P>
        <p>Cuando compras una pieza de la coleccion, no estás comprando simplemente un avatar o una obra de arte digital. Con el obtendrá acceso a la membresía de un club cuyos beneficios y ofertas aumentarán con el tiempo. Tu token (NFT) te servir como identidad digital y te abrira las puertas a todo lo que te ofrece platino social club.</p>

      </div>
      <div class="col-md-6 text-center " style="color: white;">
        <img src="https://lh3.googleusercontent.com/Edci8ElAGZ8GOqwjpgeUgXK6JNUrJGkHoflHgtdkYBEDxX-FdskftBr9pvQvNKw7SNh48X5i9nnw-XZTAZk4If4Fd5vV1elwfpjpHg=w600" alt="" height="300" width="auto">
      </div>
    </div>
  </div>
</div>
<!-- road map -->
<div class="" style="padding-top: 150px; padding-bottom: 50px; background-color: white;" id="roadmap">
  <div class="container">
    <div class="text-center">
      <div>
        <h1>Road Map</h1>
        <br>
        <img src="https://i.ibb.co/nmsgvqr/Logo-Makr-9ff-DDg.png" alt="Logo-Makr-9ff-DDg" alt="" height=" 100px;">
        <h1>20%</h1>
        <h3>1,000 Seguidores</h3>
        <p>Nuestro primer paso inicia creando una comunidad con personas interesadas en el proyecto, para esto hemos creados canales de comunicacion digitales que mantendran a los mierbros al tanto de todos nuestro avances.</p>
        <img src="https://i.ibb.co/H2vdb7y/Logo-Makr-5u-Fgin.png" alt="" height=" 100px;">
        <h1>40%</h1>
        <h3>Lanzamiento de NFT's</h3>
        <p>Una vez completemos la meta de 1,000 personas interesadas en el proyecto haremos el lanzamiento oficial de 100 nft´s que le dara beneficios unicos a los miembros mas exclusivos del club.</p>
        <img src="https://i.ibb.co/H2vdb7y/Logo-Makr-5u-Fgin.png" alt="" height=" 100px;">
        <h1>60%</h1>
        <h3>Abrimos Puertas</h3>
        <P>Completando la venta la de los NFT´s abriremos las puerta del club, creando un espacio real donde los miembros podran compartir y relacionare entre ellos haciendo uso de todos sus beneficios. </P>
        <img src="https://i.ibb.co/H2vdb7y/Logo-Makr-5u-Fgin.png" alt="" height=" 100px;">
        <h1>80%</h1>
        <h3>Plataforma Online</h3>
        <p>Con el club andando haremos el lanzamiento de nuestra plataforma digital, un espacio donde podras encontra una tienda unica exclusiva para miembros, contenido original, canales de comunicacion y muchas mas sorpresas. </p>
        <img src="https://i.ibb.co/H2vdb7y/Logo-Makr-5u-Fgin.png" alt="" height=" 100px;">
        <h1>100%</h1>
        <h3>Produccion de Eventos</h3>
        <p>Crearemos un calendario de eventos donde todos los miebros podran realiazar multiples actividades en diversos temas y  recibiran trato exclusivo viviendo la experencia que brinda Platino Social Club.</p>
        <br>
      </div>
    </div>
  </div>
</div>
<!-- team -->
<div style="background-color: white;">
  <div class="container" style="padding-top: 150px; padding-bottom: 50px; background-color: white;" id="team">
    <div class="text-center">
      <h1>Team</h1>
      <br>
      <br>
      <br>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="https://icon-library.com/images/avatar-png-icon/avatar-png-icon-3.jpg" alt="" height="150px">
        <br>
        <br>
        <h4>Platino Inversionista</h4>
      </div>
      <div class="col-md-4 text-center">
        <img src="https://icon-library.com/images/avatar-png-icon/avatar-png-icon-3.jpg" alt="" height="150px">
        <br>
        <br>
        <h4>Platino Programador</h4>
      </div>
      <div class="col-md-4 text-center">
        <img src="https://icon-library.com/images/avatar-png-icon/avatar-png-icon-3.jpg" alt="" height="150px">
        <br>
        <br>
        <h4>Platino Diseñador</h4>
      </div>
    </div>
  </div>
</div>
<!-- faq -->
<div style="background-color: white;">
  <div class="container text-center" style="padding-top: 150px; padding-bottom: 50px;" >
    <h1>Preguntas Frecuentes</h1>
    <br>
    <br>
    <br>
    <h4>¿ Que beneficios reciben los miebros ?</h4>
    <p>Los miembros de club recibiran beneficios dependiendo del tipo de membresia que con la que se suscriban. Estos beneficios son acesso a las instalacion y actividades del club, descuentos en locales/organizaciones asociadas, entrada a los eventos prividados organizados por el club y muchas mas sorpresas.  </p>
    <br>
    <h4>¿ Como me puedo unir ?</h4>
    <p>Los primeros 100 miebros se podran suscrubir a atravez de la compra de un NFT, estos miembros recibiran benfecios unicos! Una vez se complete la venta de los NFt´s lanzaremos nuestra plataforma online donde nuevos miebros podran unirse atravez de una mensualidad.</p>
    <br>
    <h4>¿ Cual es el objetivo del club ?</h4>
    <p> Nuestro objetivo es crear una comunidad unidad que ayude al crecimeinto/desarrollo de emprendedores y comunidades ya establezidas. Para esto trabajaremos junto con profecionales en temas como deporte, arte/cultura, educacion, musica, gastronomia, comedia entre otros y crearemos un calenderio de eventos donde podran participar todos los miembros del club.  </p>
    <br>
  </div>
</div>
<!-- sponsors -->
<div style="background-color: white;">
  <div class="container text-center" style="padding-top: 150px; padding-bottom: 150px;" id="sponsors">
    <h1>Sponsors</h1>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3 text-center">
        <a href="https://radio10panama.radio12345.com/" target="_blank"><img src="https://i.ibb.co/YRnRQ1b/download-removebg-preview.png" alt="" height="150px"></a>
      </div>
      <div class="col-md-3 text-center">
        <a href="http://www.platinoproductions.com/" target="_blank"><img src="https://i.ibb.co/7JyT7px/PPFINAL-3-1-1.png" alt="" height="150px"></a>
      </div>
      <div class="col-md-3 text-center">
       <a href="http://www.platinoproductions.com/" target="_blank"> <img src="https://i.ibb.co/7JyT7px/PPFINAL-3-1-1.png" alt="" height="150px"></a>
      </div>
      <div class="col-md-3 text-center">
        <a href="https://radio10panama.radio12345.com/" target="_blank"><img src="https://i.ibb.co/YRnRQ1b/download-removebg-preview.png" alt="" height="150px"></a>
      </div>
      </div>
    </div>
    <br>
  </div>
</div>
<!-- social -->
<div>
  <div  style="background-color: black; color: white;">
    <div class="container ">
      <br>
      <br>
      <div class="row">
        <div class="col-md-4 ">
          <img src="https://i.ibb.co/7g7JYWw/VARIACI-N-DE-TIPOGRAF-A-NEGATIVO-1.png" alt="" height="120">
        </div>
        <div class="col-md-4 ">
          <h3 style="">Social Media</h3>
          <a href="https://www.instagram.com/platinoproduction/" style="color: white;" target="_blank"><p><i class="fab fa-instagram"></i> Instagram</p></a>
          <a href="https://www.youtube.com/channel/UCq9xf9_v4MDk8VI4hDTw6DQ" style="color: white;" target="_blank"><p><i class="fab fa-youtube"></i> Youtube</p></a>
          <br>
          <br>
        </div>
        <div class="col-md-4">
          <h3 style=";">Info. de Contacto</h3>
          <p><i class="fas fa-envelope"></i> contact@platinosocialclub.com</p>
          <p><i class="fas fa-map-marker-alt"></i> Clayton, Panama</p>
          <br>
          <br>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
<script>
// Set the date we're counting down to
var countDownDate = new Date("October 30, 2022 12:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
